<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="row">
  <div class="col-sm">
    test
  </div>
  <div class="col-sm">
    test2
  </div>
</div>

{{selected}}
<button (click)="saveDice()">Save</button>
<button (click)="addRow()">+</button>
<button (click)="diceRows.pop()">-</button>
<div *ngFor="let row of diceRows; index as i;" style="padding-top: 10px;">
  <div style="border:1px solid black;" (click)="selected = i;">
    {{i}}
    <input type="text" [(ngModel)]="row.diceString" (blur)="row.updateDie()" />
    <br />{{row.diceStringShow}} Average: {{row.dice.stats.mean}} Std: {{row.dice.stats.std}} Max: {{row.dice.stats.max}} Min:
    {{row.dice.stats.min}}
    <button (click)="row.logDice()">Log Dice</button>
  </div>
</div>



<br/>